---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BookEntry from '../components/BookEntry.astro';

const books = await getCollection('books');
const articles = await getCollection('articles');
---

<BaseLayout>
  <h1>Content collections</h1>
  <div class="container">
    <div class="column">
      <h2>Books (type: 'data')</h2>
      {books.map((book) => <BookEntry entry={book} />)}
    </div>
    <div class="column">
      <h2>Articles (type: 'content')</h2>
      {
        articles.map((article) => (
          <article class="article" style={{ marginBottom: '2rem' }}>
            <div class="thumbnail">
              <Image src={article.data.thumbnail} alt="" />
            </div>
            <div class="data">
              <h3>
                <a href={`/collections/articles/${article.slug}`}>
                  {article.data.title}
                </a>
              </h3>
              <em>{article.data.pubDate.toDateString()}</em>
              <p>{article.data.description}</p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
  }

  .column {
    flex: 1 1 0;
  }

  .article {
    display: flex;
  }

  .thumbnail {
    flex: 2 2 0;
    margin-right: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .data {
    flex: 8 8 0;

    h3 {
      margin-top: 0;
    }
  }
</style>
